services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    develop:
      watch:
        # - action: sync
        #   path: ./app
        #   target: /app/app
        - action: rebuild
          path: ./uv.lock
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app

  postgres:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db_labs
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
